# Directories
.vs/
bin/
bin-int/
vendor/curl/bin
vendor/curl/debug
vendor/curl/include
vendor/curl/lib
vendor/curl/share
vendor/curl/tools
vendor/vcpkg
vendor/build

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
App-Client/*.yaml

# Exclude
!vendor/bin